<h1>Docenti</h1>
@model List<DocenteViewModel>
<p>Ecco la Lista dei Docenti</p>

<a class="btn btn-primary" asp-controller="Docenti" asp-action="Create" type="button">Inserisci Nuovo Docente</a>

<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Recapiti</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Cognome</td>
            <td>
                <a asp-controller="Docenti" asp-action="Recapiti" asp-route-id="@item.Id" class="btn btn-primary">Visualizza Recapiti</a>
            </td>
            <td>
                <a asp-controller="Docenti" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Modifica</a>
            </td>
            <td>
                <a asp-controller="Docenti" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Elimina</a>
            </td>
        </tr>
        }
    </tbody>
</table>